body{
background-color: #f5f7fb;
}

.navbar{
  background-color: rgb(223, 223, 223);
}

.navbar-brand{
  display: flex;
  align-items: center;
  text-decoration: none;
}

.text-betmen{
font-size: 60px;
}


.img-shadow {
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
  border-radius: 15px;
}

.profil{
  background-color: blue;
  height: 100vh;
}
